#saved-trip-image {
    width: 40vw;
    height: 70vh;
    /* background-image: url("../images/highlands.jpg"); */
    background-size: cover;
    transform: skew(15deg);
    position: relative;
    right: 250px;
}

#place-image {
    width: 40vw;
    height: 70vh;
    background-size: cover;
    transform: skew(15deg);
    position: relative;
    right: 150px;
}

.card__face--front {
    display: flex;
    flex-direction: row;
}

.card__face--back {
    display: flex;
    flex-direction: row;
}

.trip-info {
    width: 30vw;
    display: grid;
    grid-template-areas: 
    "header header header"
    "desc temp icon"
    "btn btn btn";
    align-items: center;
}

.saved-trip-info {
    width: 30vw;
    display: grid;
    grid-template-areas: 
    "hd hd hd"
    "cit cit tp"
    "des des ic";
    align-items: center;
}

.s-header {
    grid-area: hd;
}

.s-city {
    grid-area: cit;
}

.s-temp {
    grid-area: tp;
}

.s-desc {
    grid-area: des;
}

.s-icon {
    grid-area: ic;
}

.resCity{
    grid-area: header;
}

#temp {
    grid-area: temp;
}

#description {
    grid-area: desc;
}

#image-icon {
    grid-area: icon
}

.go-back {
    grid-area: btn;
}